html {
  font-size: 62.5%;
}
body {
  font-size: 12px;
  font-size: 1.2rem;
  font-family: "Microsoft Yahei", "SimSun", Arial, "sans-serif background-color", "Open Sans", "Helvetica Neue";
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: ' ';
}
abbr,
acronym {
  border: 0;
}
a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
.f12 {
  font-size: 12px;
  font-size: 1.2rem;
}
.f13 {
  font-size: 13px;
  font-size: 1.3rem;
}
.f14 {
  font-size: 14px;
  font-size: 1.4rem;
}
.f16 {
  font-size: 16px;
  font-size: 1.6rem;
}
.f17 {
  font-size: 17px;
  font-size: 1.7rem;
}
.f18 {
  font-size: 18px;
  font-size: 1.8rem;
}
.f20 {
  font-size: 20px;
  font-size: 2.0rem;
}
.f22 {
  font-size: 22px;
  font-size: 2.2rem;
}
.f24 {
  font-size: 24px;
  font-size: 2.4rem;
}
.f30 {
  font-size: 30px;
  font-size: 3.0rem;
}
.f35 {
  font-size: 35px;
  font-size: 3.5rem;
}
.f50 {
  font-size: 50px;
  font-size: 5.0rem;
}
.fb {
  font-weight: bold;
}
.fn {
  font-weight: normal;
}
.t2 {
  text-indent: 2rem;
}
.lh30 {
  line-height: 30px;
}
.lh50 {
  line-height: 50px;
}
.lh150 {
  line-height: 150%;
}
.lh180 {
  line-height: 180%;
}
.lh200 {
  line-height: 200%;
}
.unl {
  text-decoration: underline;
}
.no_unl {
  text-decoration: none;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.bc {
  margin-left: auto;
  margin-right: auto;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.cb {
  clear: both;
}
.clear {
  clear: both;
}
.cl {
  clear: left;
}
.cr {
  clear: right;
}
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
*html .clearfix {
  height: 1%;
}
.Clearfix {
  display: block;
}
.none {
  display: none;
}
.vt {
  vertical-align: top;
}
.vm {
  vertical-align: middle;
}
.vb {
  vertical-align: bottom;
}
.vbl {
  vertical-align: baseline;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.top1 {
  top: 1px;
}
.abs-right {
  position: absolute;
  right: 0;
}
.zoom {
  zoom: 1;
}
.os {
  overflow: auto;
}
.os-x {
  overflow-x: auto;
}
.os-y {
  overflow-y: auto;
}
.oh {
  overflow: hidden;
}
.fff {
  background-color: #fff;
}
.w10 {
  width: 10px;
}
.w20 {
  width: 20px;
}
.w30 {
  width: 30px;
}
.w40 {
  width: 40px;
}
.w50 {
  width: 50px;
}
.w60 {
  width: 60px;
}
.w70 {
  width: 70px;
}
.w80 {
  width: 80px;
}
.w90 {
  width: 90px;
}
.w100 {
  width: 100px;
}
.w200 {
  width: 200px;
}
.w300 {
  width: 300px;
}
.w400 {
  width: 400px;
}
.w500 {
  width: 500px;
}
.w600 {
  width: 600px;
}
.w700 {
  width: 700px;
}
.w800 {
  width: 800px;
}
.w {
  width: 100%;
}
.h50 {
  height: 50px;
}
.h80 {
  height: 80px;
}
.h100 {
  height: 100px;
}
.h200 {
  height: 200px;
}
.h {
  height: 100%;
}
.m0 {
  margin: 0;
}
.m10 {
  margin: 10px;
}
.m15 {
  margin: 15px;
}
.m30 {
  margin: 30px;
}
.mt2- {
  margin-top: -2px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mt50 {
  margin-top: 50px;
}
.mt100 {
  margin-top: 100px;
}
.mt180 {
  margin-top: 180px;
}
.mb0 {
  margin-bottom: 0;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb100 {
  margin-bottom: 100px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml30 {
  margin-left: 30px;
}
.ml50 {
  margin-left: 50px;
}
.ml100 {
  margin-left: 100px;
}
.ml200 {
  margin-left: 200px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr30 {
  margin-right: 30px;
}
.mr40 {
  margin-right: 40px;
}
.mr50 {
  margin-right: 50px;
}
.mr100 {
  margin-right: 100px;
}
.p0 {
  padding: 0;
}
.p10 {
  padding: 10px;
}
.p15 {
  padding: 15px;
}
.p20 {
  padding: 20px;
}
.p30 {
  padding: 30px;
}
.pt5 {
  padding-top: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pt20 {
  padding-top: 20px;
}
.pt30 {
  padding-top: 30px;
}
.pt50 {
  padding-top: 50px;
}
.pt100 {
  padding-top: 100px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb30 {
  padding-bottom: 30px;
}
.pb50 {
  padding-bottom: 50px;
}
.pb100 {
  padding-bottom: 100px;
}
.pl0 {
  padding-left: 0px;
}
.pl5 {
  padding-left: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pl15 {
  padding-left: 15px;
}
.pl20 {
  padding-left: 20px;
}
.pl30 {
  padding-left: 30px;
}
.pl50 {
  padding-left: 50px;
}
.pl100 {
  padding-left: 100px;
}
.pl450 {
  padding-left: 450px;
}
.pr0 {
  padding-right: 0px;
}
.pr5 {
  padding-right: 5px;
}
.pr10 {
  padding-right: 10px;
}
.pr15 {
  padding-right: 15px;
}
.pr20 {
  padding-right: 20px;
}
.pr30 {
  padding-right: 30px;
}
.pr50 {
  padding-right: 50px;
}
.pr100 {
  padding-right: 100px;
}
.pointer {
  cursor: pointer;
}
p.error {
  color: #f00;
}
.hidden-v {
  visibility: hidden;
}
.transparent {
  background-color: transparent;
}
.b0 {
  border: 0;
}
.br0 {
  border-radius: 0;
}
.br2 {
  border-radius: 2px;
}
.br3 {
  border-radius: 3px;
}
.br4 {
  border-radius: 4px;
}
.br5 {
  border-radius: 5px;
}
.ws {
  white-space: nowrap;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.row {
  margin: 0;
}
.tab-radius {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
