.react-loading-spinner{
  position: fixed;
  top:0;
  bottom:0;
  left: 0;
  right:0;
  min-height: 60px;
  /*background-color: rgba(0,0,0,.3);*/
  text-align: center;
  /*color:#f5f5f5;*/
  z-index: 999999;
}

.react-loading-spinner .loading-inner{
  position: absolute;
  top:50%;
  left:50%;
  padding: 20px;
  /*background-color: rgba(255,255,255,.7);*/
  transform: translate(-50%,-50%);
}
  
.react-loading-spinner .alert-text{
  padding: 10px 5px;
}

.svg-loader {
  display: inline-block;
  width: 1em;
  height: 1em;
  animation: 2s rotate infinite linear;
  font-size: 30px;
  vertical-align: middle;
}

.svg-loader svg {
  vertical-align: top;
}

.svg-loader circle {
  fill: transparent;
  stroke: #00B39E;
  stroke-width: 0.07em;
  stroke-dasharray: 2.3525em 0.4705em;
  animation: 1.3s strokeDashArray infinite linear, 24s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(360deg);
  }
}

@keyframes strokeDashArray {
  from {
    stroke-dasharray: 2.3525em 0.4705em;
    stroke-dashoffset: 0;
  }
  
  10% {
    stroke-dasharray: 2.3525em 0.4705em;
    stroke-dashoffset: 0;
  }
  
  50% {
    stroke-dasharray: 0.001em 2.825em;
    stroke-dashoffset: -2.826em;
  }
  
  60% {
    stroke-dasharray: 0.001em 2.825em;
  }
  
  to {
    stroke-dasharray: 2.3525em 0.4705em;
    stroke-dashoffset: -2.826em;
  }
}

